@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {

  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
  padding: 0.2rem 0.6rem;
}

p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}



/* navbar */
header{
  padding: 0.5rem 0;
}
header nav{
  display: flex;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
  gap: 16px;
  align-items: center;
}
header nav h2{
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a {
  padding: 6px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

header nav a.active{
  background: var(--primary);
}
/* page content */
main{
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */

.help_layout nav{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help_layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.help_layout nav a:hover{
  border-color: var(--primary);
}

.help_layout nav a.active{
  background: var(--primary);
}
/* faq */
.faq .question{
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}
/* contact form */
form {
  margin-top: 30px;
}

form input , form label span , form textarea{
  display: block;
}
form input,
form textarea{
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}

form label span{
  margin-bottom: 10px;
}

/* careers details */


/* breadcrumbs */
